.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.authImg {
	border: black 1px solid;
	border-radius: 100px;
	width: 100%;
}

.throttle_register_login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: blue;
	border: white solid 1px;
	border-radius: 10px;
}
.throttle_left {
	color: blue;
}

.throttle_right {
	color: blue;
}

.auth_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.login_welcome,
.signup_welcome {
	display: inherit;
	flex-direction: column;
	align-items: center;
}
