.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.authImg {
	border: black 1px solid;
	border-radius: 100px;
	width: 100%;
}

/* .auth_email{} */
/* .auth_password{} */
.auth_submit {
	font-weight: 700;
}

.throttle_register_login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	background-color: blue;
	font-weight: 900;
	border-radius: 6px;
	width: 100%;
	height: 30px;
}
.throttle_left {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 50%;
}

.throttle_right {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 50%;
}

.pw_container_1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 2px;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.4);
	border-style: solid;
	padding: 1px;
}
.pw_container_1 input {
	border: none;
	width: 100%;
}

.pw_container_1 input:focus {
	outline: none;
}

.pw_container_1 img {
	display: inline-flex;
	align-self: center;
	height: 15px;
}

.pw_container_2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 2px;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.4);
	border-style: solid;
	padding: 1px;
}
.pw_container_2 input {
	border: none;
	width: 100%;
}

.pw_container_2 input:focus {
	outline: none;
}

.pw_container_2 img {
	display: inline-flex;
	align-self: center;
	height: 15px;
}



.auth_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.login_welcome,
.signup_welcome {
	display: inherit;
	flex-direction: column;
	align-items: center;
}

.login_signup_form {
	width: 100%;
	display: inherit;
	flex-direction: column;
}
